{
    "presets": ["next/babel"],
    "plugins": [
        [
          "babel-plugin-styled-components",
            {
                "ssr": true,
                "fileName": false,
                "displayName": true 
            }
        ]
    ]
}